<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/testschema</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="username">root</property>
        <property name="password">root</property>

        <!-- DB schema will be updated if needed -->
         <!--<property name="hbm2ddl.auto">update</property>-->
        <!--<mapping class="com.hbrnt.models.Contact"/>-->
        <!--<mapping class="com.hbrnt.models.ContactHobbyDetail"/>-->
        <!--<mapping class="com.hbrnt.models.ContactTelDetail"/>-->
        <!--<mapping class="com.hbrnt.models.Hobby"/>-->
    </session-factory>
</hibernate-configuration>